
<form class="form-horizontal" id="formUpdateProfile">
    <div class="form-group">
        <input type="hidden" id="id" value="<%= typeof user.id !== 'undefined' ? user.id : '' %>">
        <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> Nama Depan </label>
        <div class="col-md-9">
            <input type="text" id="nama_depan" class="form-control" 
            name="nama_depan" placeholder="Nama Depan" value="<%= typeof user.nama_depan !== 'undefined' ? user.nama_depan : '' %>"
            required>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> Nama Belakang </label>
        <div class="col-md-9">
            <input type="text" id="nama_belakang" 
            class="form-control" name="nama_belakang"
            value="<%= typeof user.nama_belakang !== 'undefined' ? user.nama_belakang : '' %>" placeholder="Nama Belakang" required>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> Username </label>
        <div class="col-md-9">
            <input type="text" id="username"
            class="form-control" name="username"
            value="<%= typeof user.username !== 'undefined' ? user.username : '' %>" placeholder="Username" required>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> Email </label>
        <div class="col-md-9">
            <input type="text" id="email"
            class="form-control" name="email"
            value="<%= typeof user.email !== 'undefined' ? user.email : '' %>" placeholder="Email" required>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> Tanggal Lahir </label>
        <div class="col-md-9">
            <input type="date" id="ttl"
            class="form-control" name="ttl"
            value="<%= typeof user.tempat_lahir !== 'undefined' ? user.tempat_lahir : '' %>" placeholder="Tempat / Tanggal Lahir" required>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> Jenis Kelamin </label>
        <div class="col-md-9">
            <select id="jenis_kelamin" class="form-control" 
            name="jenis_kelamin" required>
                <option value="">Jenis Kelamin</option>
                    <option value="l" <% if (user.jenis_kelamin == 'l') { %> selected <% } %>>Laki-Laki</option>
                    <option value="p" <% if (user.jenis_kelamin == 'p') { %> selected <% } %>>Perempuan</option>
            </select>
        </div>
    </div>
    <div class="clearfix form-actions">
        <div class="col-md-offset-3 col-md-9">
            <button class="btn btn-info" type="submit">
                <i class="ace-icon fa fa-check bigger-110"></i>
                Simpan
            </button>

            &nbsp; &nbsp; &nbsp;
            <button class="btn" type="reset">
                <i class="ace-icon fa fa-undo bigger-110"></i>
                Reset
            </button>
        </div>
    </div>
</form>